version: '3.2'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5434:5432"
    volumes:
      - database-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'database'
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  database-db-data:
