version: '3.2'

services:
  postgres:
    image: postgres:15
    container_name: russian-cheatsheet-postgres
    ports:
      - "5432:5432"
    volumes:
      - russian-cheatsheet-postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'russian-cheatsheet'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'russian-cheatsheet'
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  russian-cheatsheet-postgres-data:
