quarkus:

  datasource:
    db-kind: postgresql
    username: russian-cheatsheet
    password: password
    jdbc:
      url: jdbc:postgresql://localhost:5432/russian-cheatsheet

  flyway:
    migrate-at-start: true

  hibernate-orm:
    database:
      generation: none
    format-sql: true

  banner:
    path: banner.txt

  swagger-ui:
    always-include: true
    urls:
      default: /q/openapi
    enable: true
    theme: original
    operations-sorter: alpha

  rest-client:
    keycloak:
      url: ${app.idp.url}
      scope: jakarta.enterprise.context.ApplicationScoped

    memrise:
      url: ${app.memrise.url}
      scope: jakarta.enterprise.context.ApplicationScoped

  smallrye-openapi:
    info-title: Template
    info-version: 1.0.0
    info-description: Template

app:
  idp:
    url: https://auth.pausegarra.es/realms/principal
    client-id: russian-cheatsheet-private

  memrise:
    url: https://api.memrise.com
    learning-state: ENCOUNTERED
    ordering: LAST_TOUCHED
    ordering-direction: DESCENDING
    page-size: 50
    access-token: token

mp:
  jwt:
    verify:
      publickey:
        location: ${app.idp.url}/protocol/openid-connect/certs
      issuer: ${app.idp.url}
      audience: ${app.id.client-id}