version: '3.2'

services:
  russian-cheatsheet-api:
    container_name: russian-cheatsheet-api
    image: psegarra/russian-cheatsheet-api:${VERSION}
    ports:
      - "8001:8080"
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://host.docker.internal:5432/russian-cheatsheet
      - QUARKUS_DATASOURCE_USERNAME=${DB_USERNAME}
      - QUARKUS_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - APP_MEMRISE_ACCESS_TOKEN=${MEMRISE_TOKEN}